img {
  max-width: 100%;
  width: auto\9;
  /*iefix*/
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

form label {
  display: block;
  color: #484d55; }

form input, form select, form textarea {
  -webkit-appearance: none;
  display: block;
  border: 0;
  background: #fff;
  outline: none;
  border-radius: 0.35rem;
  padding: 0.75em 1em 0.75em 1em; }

form input.text:hover, form select:hover, form textarea:hover {
  text-decoration: none; }

form:focus {
  color: #fff; }

form .formerize-placeholder {
  color: #555;
  font-style: italic; }

form ::-webkit-input-placeholder {
  color: #555;
  font-style: italic; }

form :-moz-placeholder {
  color: #555;
  font-style: italic; }

form ::-moz-placeholder {
  color: #555;
  font-style: italic; }

form :-ms-input-placeholder {
  color: #555;
  font-style: italic; }

form ::-moz-focus-inner {
  border: 0; }

input:focus::-webkit-input-placeholder {
  color: #fff; }

textarea:focus::-webkit-input-placeholder {
  color: #fff; }

input:focus:-moz-placeholder {
  color: #fff; }

​
textarea:focus:-moz-placeholder {
  color: #fff; }

button {
  display: block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border-style: none;
  border-radius: 0.35em;
  border: 0;
  outline: 0;
  cursor: pointer; }

button.submit {
  font-family: 'Proxima Nova', sans-serif;
  background: #fff;
  color: #444;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 235px;
  height: 40px;
  font-size: 1.05rem; }

button.submit:hover {
  color: #fff;
  background: none;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  outline: 0; }

.form-textname, .form-textemail, .form-textarea {
  font-family: 'Proxima Nova', sans-serif;
  color: #444;
  font-size: 1.05rem; }

.form-textname {
  width: 200px;
  margin: 0px 0px 10px 0px; }

.form-textname:focus, .form-textemail:focus, .form-textarea:focus {
  color: #fff;
  background: none;
  -webkit-box-shadow: 0px 0px 0px 1px #fff;
  box-shadow: 0px 0px 0px 1px #fff;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

@media screen and (min-width: 700px) {
  button.submit {
    float: left;
    margin-left: 145px; }

  .form-textname {
    float: left; }

  .form-textemail {
    width: 257px;
    float: left;
    margin: 0px 10px 10px 10px; }

  .form-textarea {
    float: left;
    width: 500px;
    min-height: 12rem;
    margin-bottom: 10px; } }
@media screen and (max-width: 700px) {
  button.submit {
    margin-top: 10px; }

  .form-textname {
    width: 85%; }

  .form-textemail {
    width: 85%;
    margin: 0px 0px 10px 0px; }

  .form-textarea {
    float: none;
    width: 85%;
    min-height: 12rem; } }
section,
header,
footer {
  display: block; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  text-decoration: none; }

body {
  width: 100%;
  font-family: "proxima-nova", sans-serif;
  margin: 0;
  margin-top: 0;
  padding: 0 auto;
  text-align: left; }

.img-center {
  margin: 0 auto;
  display: block; }

section#about {
  background: #eff2f2;
  padding: 78px 0 78px 0;
  color: #9bacac; }
  section#about .width {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    line-height: 1.9rem;
    text-align: left; }
  section#about .dribbble {
    color: #ec5e95; }
  section#about .contact {
    color: #c0392b; }
  section#about .blog {
    color: #f39c12; }
  section#about p {
    font-size: 1.3rem;
    text-align: left;
    line-height: 1.7rem;
    font-family: "proxima-nova", sans-serif;
    font-weight: 300; }
  section#about b {
    font-weight: 300; }

section#contact {
  padding: 78px 0 78px 0;
  background: #2980b9;
  font-family: "proxima-nova", sans-serif;
  font-weight: 300; }
  section#contact .width {
    max-width: 600px;
    min-height: 300px;
    padding-left: 2%;
    margin: 0 auto;
    display: block;
    line-height: 1.9rem;
    text-align: left; }

section#process {
  background: #888;
  padding: 78px 0 78px 0;
  font-family: "proxima-nova", sans-serif;
  font-weight: 300; }
  section#process .width {
    max-width: 1200px;
    margin: 0 auto; }
    section#process .width .third-left {
      width: 29.33333%;
      float: left;
      padding: 2%; }
    section#process .width .third-right {
      width: 29.33333%;
      margin-left: 66.66667%;
      padding: 2%; }
    section#process .width h1 {
      font-size: 1.3rem;
      color: #333;
      text-align: center;
      font-weight: 400; }
    section#process .width p {
      font-size: 1.1rem;
      line-height: 1.5rem;
      color: #333; }

section#portfolio {
  margin: 0; }
  section#portfolio ul, section#portfolio li {
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin: 0;
    padding: 0; }
  section#portfolio li {
    float: left; }
    @media screen and (min-width: 1100px) {
      section#portfolio li {
        width: 33.33333333333333333333333333333%; } }
    @media screen and (min-width: 600px) and (max-width: 1100px) {
      section#portfolio li {
        width: 50%; } }
    @media screen and (max-width: 600px) {
      section#portfolio li {
        width: 100%; } }

section#blog {
  background: #2ecc71;
  padding: 78px 0 78px 0; }
  section#blog .width {
    max-width: 600px;
    margin: 0 auto;
    display: block; }
    section#blog .width ul, section#blog .width li {
      list-style: none; }
    section#blog .width h1 {
      font-family: "proxima-nova";
      font-weight: 300;
      font-size: 1.9rem;
      padding: 20px 0 0 0; }
    section#blog .width .rss-box {
      font-family: "proxima-nova";
      font-weight: 300;
      font-size: 1.3rem;
      line-height: 1.7rem;
      margin: 10px 0 10px 0; }

footer#foot {
  padding: 40px 0 30px 0;
  background: #c0392b;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 300; }
  footer#foot .cont {
    text-align: left;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    max-width: 600px;
    color: #6d2018; }
    footer#foot .cont p {
      margin-top: 25px; }
    footer#foot .cont a {
      color: #df7c72;
      text-decoration: none; }
