//VARIABLES
$font: "proxima-nova";

$section-padding: 78px 0 78px 0;
$section-width: 600px;
$content-padding: 0 20px 0 20px;

$header: #3fcb65;
$header-text: white;

$about-color: lighten(#e1e6e6, 5%);

//was #fff
$about-color-dark: darken($about-color, 30%);
$about-color-light: lighten($about-color, 20%);

$top-left-color: #3fcb65;
$top-left-color-text: darken($top-left-color, 20%);
$top-right-color: #2bb1f3;
$top-right-color-text: darken($top-right-color, 20%);

$latest1-color: #2ecc71;
$latest1-color-dark: darken($latest1-color, 20%);
$latest1-color-light: lighten($latest1-color, 30%);

$latest2-color: #25b3ee;
$latest2-color-dark: darken($latest2-color, 20%);
$latest2-color-light: lighten($latest2-color, 30%);

$latest3-color: #f1c40f;
$latest3-color-dark: darken($latest3-color, 20%);
$latest3-color-light: lighten($latest3-color, 30%);

$contact-color: #2980b9;
$contact-color-dark: darken($contact-color, 20%);
$contact-color-light: lighten($contact-color, 30%);

$footer-color: #c0392b;
$footer-color-dark: darken($footer-color, 20%);
$footer-color-light: lighten($footer-color, 20%);

$forrst: #2ecc71;

$dribbble: lighten(#ea4c89, 4%);

$blog: #f39c12;

$email: #c0392b;

$top-pad: 3rem;
