@import "base";
@import "variables";
@import "contact";
@import "slider";

section,
header,
footer {
    display: block;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    font-family: $font, sans-serif;
    margin: 0;
    margin-top: 0;
    padding: 0 auto;
    text-align: left;
}

.img-center {
    margin: 0 auto;
    display: block;
}

li {
	max-width: 95%;
}

header {
	background: $header;
	color: $header-text;
	text-align: center;
	padding: 40px 0 30px 0;
	& h1 {
		display: block;
		font-size: 15vw;
		margin: 0;
		opacity: 0.7;
	}
}

section#about {
    background: $about-color;
    padding: $section-padding;
    color: $about-color-dark;
    & .width {
    	padding: $content-padding;
        max-width: $section-width;
        margin: 0 auto;
        font-size: 1.3rem;
        line-height: 1.9rem;
        text-align: left;
        font-weight: 300;
    }
    & .dribbble {
        color: $dribbble;
    }
    & .contact {
        color: $email;
    }
    & .blog {
        color: $blog;
    }
}
// section#latest1, section#latest2 {
// 	float: left;
// 	width: 1/3*100%;
// 	height: 650px;
// }
// section#latest3 {
// 	float: right;
// 	width: 1/3*100%;
// 	height: 650px;
// }
section#latest1, section#latest2, section#latest3 {
    padding: $section-padding;
    // & img {
    // 	max-height: 300px;
    // }
    & .width {
        margin: 0 auto;
        padding: $content-padding;
    }
    & h1 {
        font-family: 'Proxima Nova', sans-serif;
        font-size: 1.45rem;
        text-align: center;
        margin-bottom: 0px;
        font-weight: 400;
    }
    & h2 {
        font-family: 'Proxima Nova', sans-serif;
        font-size: 1.05rem;
        text-align: center;
        margin-bottom: 12px;
        margin-top: 0px;
        font-weight: 400;
    }
    & p {
        font-family: 'Proxima Nova', sans-serif;
        font-size: 1.05rem;
        margin-top: 3px;
        font-weight: 300;
    }
    & a {
        text-decoration: none;
    }
}

section#latest1 {
    background: $latest1-color;
    & h1 {
        color: $latest1-color-dark;
        & a {
            color: $latest1-color-dark;
        }
    }
    & h2 {
        color: $latest1-color-dark;
    }
    & p {
        color: $latest1-color-dark;
    }
    & a {
        color: $latest1-color-light;
    }
}

section#latest2 {
    background: $latest2-color;
    & h1 {
        color: $latest2-color-dark;
        & a {
            color: $latest2-color-dark;
        }
    }
    & h2 {
        color: $latest2-color-dark;
    }
    & p {
        color: $latest2-color-dark;
    }
    & a {
        color: $latest2-color-light;
    }
}

section#latest3 {
    background: $latest3-color;
    & h1 {
        color: $latest3-color-dark;
        & a {
            color: $latest3-color-dark;
        }
    }
    & h2 {
        color: $latest3-color-dark;
    }
    & p {
        color: $latest3-color-dark;
    }
    & a {
        color: $latest3-color-light;
    }
}
section#contact {
    padding: $section-padding;
    background: $contact-color;
    & .width {
        max-width: $section-width;
        min-height: 300px;
        padding-left: 2%;
        margin: 0 auto;
        display: block;
        line-height: 1.9rem;
        text-align: left;
    	}
}

footer#foot {
    padding: 40px 0 30px 0;
    background: $footer-color;
    & .cont {
    	font-size: 1.3rem;
    	line-height: 1.8rem;
    	font-weight: 300;
        text-align: left;
        padding: $content-padding;
        margin: 0 auto;
        max-width: $section-width;
        color: $footer-color-dark;
        & a {
            color: $footer-color-light;
            text-decoration: none;
        }
    }
}