@import "base";
@import "variables";
@import "contact";

section,
header,
footer {
    display: block;
}

html {
    font-size: 100%;
-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    font-family: $font, sans-serif;
    margin: 0;
    margin-top: 0;
    padding: 0 auto;
    text-align: left;
}

.img-center {
    margin: 0 auto;
    display: block;
}
section#about {
    background: $about-color;
    padding: $section-padding;
    color: $about-color-dark;
    & .width {
        max-width: $section-width;
        margin: 0 auto;
        padding: $content-padding;
        line-height: 1.9rem;
        text-align: left;
    }
    & .dribbble {
        color: $dribbble;
    }
    & .contact {
        color: $email;
    }
    & .blog {
        color: $blog;
    }
    & p {
        font-size: 1.3rem;
        text-align: left;
        line-height: 1.7rem;
        font-family: $font, sans-serif;
        font-weight: 300;
    }
}
section#contact {
    padding: $section-padding;
    background: $contact-color;
    font-family: $font, sans-serif;
    font-weight: 300;
    & .width {
        max-width: $section-width;
        min-height: 300px;
        padding-left: 2%;
        margin: 0 auto;
        display: block;
        line-height: 1.9rem;
        text-align: left;
    }
}

section#portfolio {
    margin: 0;
    & ul, li {
        list-style: none;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        margin: 0;
        padding: 0;
    }
    & li {
        @include min-screen (1100px) {
            width: 33.33333333333333333333333333333%;
        }
        @include screen (600px, 1100px) {
            width: 50%;
        }
        @include max-screen (600px) {
            width: 100%;
        }
        float: left;
    }
}

section#blog {
    background: $latest1-color;
    padding: $section-padding;
    & .width {
        max-width: $section-width;
        margin:0 auto;
        display: block;
        & ul, li {
            list-style: none;
        }
        & h1 {
            font-family: $font;
            font-weight: 300;
            font-size: 1.9rem;
            padding: 20px 0 0 0;
        }
        & .rss-box {
            font-family: $font;
            font-weight: 300;
            font-size: 1.3rem;
            line-height: 1.7rem;
            margin: 10px 0 10px 0;
        }
    }
}
footer#foot {
    padding: 40px 0 30px 0;
    background: $footer-color;
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: 300;
    & .cont {
        text-align: left;
        padding: $content-padding;
        margin: 0 auto;
        max-width: $section-width;
        color: $footer-color-dark;
        & p {
            margin-top: 25px;
        }
        & a {
            color: $footer-color-light;
            text-decoration: none;
        }
    }
}
